<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--使用基于AspectJ的事物管理，配置事物由Annotation驱动，这样@Transactional注解才会生效，该配置 等价于@EnableTransactionManagement -->
	<tx:annotation-driven mode="aspectj" />

    <!-- 自动扫描包，开启注解扫描 base-package属性：指定需要扫描的包,多个包之间使用,号隔开 a.b.c a.b.d a.b.e -->
    <context:component-scan base-package="com.gwg">
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
	</context:component-scan>



	<!-- spring的属性加载器，加载properties文件中的属性 -->
	<bean id="propertyConfigurer"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:config.properties</value>
		</property>
		<property name="fileEncoding" value="UTF-8" />
	</bean>

	<!--数据源配置-->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName" value="${mysql.dbdriver}"/>
		<property name="url" value="${mysql.dburl}"/>
		<property name="username" value="${mysql.dbUserName}"/>
		<property name="password" value="${mysql.password}"/>
		<property name="initialSize" value="${mysql.initSize}"/>
		<property name="minIdle" value="${mysql.minIdle}"/>
		<property name="maxActive" value="${mysql.maxActive}"/>
		<property name="defaultAutoCommit" value="${mysql.defaultAutoCommit}"/>
		<property name="timeBetweenEvictionRunsMillis" value="${mysql.timeBetweenEvictionRunsMillis}"/>
		<property name="minEvictableIdleTimeMillis" value="${mysql.minEvictableIdleTimeMillis}"/>
		<property name="testOnBorrow" value="${mysql.testOnBorrow}"/>
		<property name="testOnReturn" value="${mysql.testOnReturn}"/>
		<property name="validationQuery" value="${mysql.validationQuery}"/>
	</bean>


	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


</beans>
